<app-my-header name="Лабораторна робота №6"></app-my-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="addFormShow()">
    Додати товар
  </ion-button>
  <app-add-clothing *ngIf="showAddForm" (clothingAdd)="addClothing($event)">

  </app-add-clothing>
  <ion-card *ngFor="let clothing of cloudReaderService.clothings; index as i">
    <ion-card-header>
      <ion-card-title>{{ clothing.getName() }}</ion-card-title>
      <ion-card-subtitle>{{ clothing.getBrand() }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Ціна: {{ clothing.getPrice() }} грн.</ion-label>
      </ion-item>
      <ion-item *ngFor ="let details of clothing.getDetails()">
        <ion-label>{{details}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Матеріал: {{ clothing.getMaterial() }} </ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="editFormShow(i)">
      Редагувати 
    </ion-button>
    <app-edit-clothing  *ngIf="showEditForm && i == editFormNumber"
    (clothingEdit)="editClothing($event, i)"
    [clothing] = "clothing">
  </app-edit-clothing>
  </ion-card>
  </ion-content>