<app-my-header name="Лабораторна робота №1"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Завдання 2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Підрахуйте добуток цілих чисел на заданому проміжку чисел [a,
        b], парних і кратних 8. Потрібно вивести як самі числа так і результати
        обрахунку, якщо кількість чисел в проміжку парна.
      </p>
      <ion-item>
        <ion-input 
        label="Перше число" 
        labelPlacement="stacked"
        type="number"
        id="a"
        value="1"
        #Inputa
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Друге число" 
        labelPlacement="stacked"
        type="number"
        id="a"
        value="1"
        #Inputb
        >
        </ion-input>
      </ion-item>
      
      <ion-button
        expand="block"
        (click)="calculate(Inputa.value, Inputb.value)"
      >
        Сформувати масив
      </ion-button>
      <ion-item>
        <p>Результат обчислення {{d}}</p>
      </ion-item>
      <ion-item>
        <p>
          Пораховані числа {{numbers}}
        </p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
