<app-my-header name="Лабораторна робота №1"></app-my-header>


<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Завдання 3
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Згенерувати матрицю розміром NxN. Знайти добуток кожного
стовпчику матриці. Виокремити стовпчики за допомогою кольору, якщо
добуток чисел у стовпці більше за 1000.
      </p>
      <ion-item>
        <ion-input 
        label="Число" 
        labelPlacement="stacked"
        type="number"
        id="a"
        value="3"
        #Inputn
        >
        </ion-input>
      </ion-item>
      
      <ion-button
        expand="block"
        (click)="calculate(Inputn.value)"
      >
        Згенерувати матрицю
      </ion-button>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let i of a">
            <ion-col 
              *ngFor="let j of i; let colIndex = index"
              [ngStyle]="{background: getColor(colIndex)}"
            >{{ j }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>